<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Pagina Statica - auth_test</title>
</head>
<body>
    <h1>Welcome,</h1>
    <p>Autenticati</p>
        <button onClick="authenticateRequest()" Autentica </button>
        <button onClick="authenticate" Autentica JWT </button>
        <p id="addressWallet"></p>
        <script src="/script.js"></script>
</body>
</html>